reading_data/.ipynb_checkpoints/Romagnolo2024-checkpoint.ipynb
CosmicIntegration/.ipynb_checkpoints/cosmic-integration-SSPC-checkpoint.ipynb
CosmicIntegration/.ipynb_checkpoints/cosmic-integration-compas-fix-checkpoint.ipynb
*.pyc
CosmicIntegration/cosmic_integration/.ipynb_checkpoints/Untitled-checkpoint.ipynb
manipulating_data/.ipynb_checkpoints/Into_smaller_datasets-checkpoint.ipynb
